html {
  box-sizing: border-box;
  margin: 0; padding: 0;
  height: 100%;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0; padding: 0;
}

body {
  background-color: white;
  height: 100%;
}

.card {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 50%;
  padding: 1em;
}

.card:nth-child(4n+1) {
  page-break-after: always;
}

.card-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
  display: inline-grid;
  grid-template-rows: auto 1fr auto auto;
  grid-auto-flow: dense;
  grid-gap: 0;
  align-items: start;
}

.header {
  /* max-height: 100%; */
  padding: 0 0.2em;
  grid-row-start: 1;
  border-bottom: 1px solid lightgray;
  display: inline-grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0.35em;
  grid-auto-flow: dense;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  font-size: 14pt;
}
.header > span {
  max-width: 100%;
}
.number {
  grid-column-start: 1;
  place-self: start;
  font-weight: 300;
  color: #676767;
}
.number::before {
  content: "#";
}
.title {
  grid-column-start: 2;
  place-self: center start;
  font-weight: 400;
  color: #555555;
}
.points {
  grid-column-start: 3;
  position: relative;
  place-self: start;
  font-weight: 300;
}
.points::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: -1px;
  right: -0.2em;
  left:-0.3em;
  border-color: lightgray;
  border-style: solid;
  border-width: 0 0 1px 1px;
}

.main {
  grid-row-start: 2;
  max-width: 100%;
  max-height: 100%;
  padding: .25em .75em 0;
  overflow: hidden;
  font-size: 12pt;
  font-weight: 400;
  word-wrap: break-word;
}

.avatar {
  grid-row-start: 3;
  grid-column-start: 1;
  place-self: center end;
  /*
  position: absolute;
  left: 0.25em;
  bottom: -.5em;
  */
  max-width: 1em;
  max-height: 1em;
  padding: 0 0.2em 0.2em 0;
}

.labels {
  grid-row-start: 3;
  grid-column-start: 1;
  place-self: end start;
  max-height: 100%;
  max-width: 100%;
  color: gray;
  font-size: 7pt;
  font-weight: 300;
  padding-bottom: 1px;
}
.label {
  display: inline-block;
  margin: 0 0.25em;
  border-bottom-width: 0.25em;
  border-bottom-style: solid;
}

.footer {
  grid-row-start: 4;
  place-self: stretch;
  max-height: 100%;
  overflow: hidden;
  padding: 0 0.25em;
  border-top: 1px solid lightgray;
  display: inline-grid;
  grid-gap: 0.25em;
  grid-auto-flow: dense;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto;
  align-items: center;
  justify-items: start;
  font-size: 8pt;
  font-weight: 300;
}
.footer > span {
  max-width: 100%;
  overflow: hidden;
}
.project {
  grid-column-start: 3;
}
.sprint {
  grid-column-start: 2;
}
.priority {
  grid-column-start: 1;
}
.priority.priority_::after {
  content: "No priority";
}
.priority.priority_1::after {
  content: "P1";
}
.priority.priority_2::after {
  content: "P2";
}
.priority.priority_3::after {
  content: "P3";
}
.priority.priority_4::after {
  content: "P4";
}
.priority.priority_5::after {
  content: "P5";
}
.creator {
  grid-column-start: 4;
  justify-self: end;
}
.creator::before {
  content: "Created by ";
}
